@using CoreDepartman1.Models
@model List<Birim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Birim</th>
        <th>Sil</th>
        <th>Guncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var birim in Model)
    {
        <tr>
            <td>@birim.BirimId</td>
            <td>@birim.BirimAd</td>
            <td><a href="/Birim/BirimSil/@birim.BirimId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Birim/BirimGetir/@birim.BirimId" class="btn btn-success">Guncelle</a></td>
            <td><a href="/Birim/BirimDetay/@birim.BirimId" class="btn btn-default" style="background-color:#ffd800">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Birim/YeniBirim" class="btn btn-primary">Yeni Birim</a>